h1 {
    color:darksalmon; 
}

body {
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: darkseagreen;
    color: wheat;
}

.navbar {
    overflow:hidden;
    background-color: aquamarine;
}

.navbar a {
    float: left;
    display: block;
    color: lightcoral;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: black;
    color: white;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.row {
    display: flex;
}

.side {
    background-color:coral;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: coral;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px){
    .row {
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){
    .navbar a {
        float: none;
        width: 100%;
    }
}